//VARIABLES
$main-color: #049045;
$extrabold: 700;
$light: 100;
$black_text: #707070;

li, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

body{
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 80%;
    max-width: 1140px;
}



.btn-thin-dark {
    display: inline-block;

    font-size: 1em;
    color: $main-color;
    background-color: white;

    padding: 10px 20px;
    margin: 15px auto;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    border: 2px solid $main-color;
    border-radius: 50px;

    &:hover {

        text-decoration: none;

        background-color: $main-color;
        color: white;
        border: 2px solid $main-color;

    }
}

.btn-thin-clear{
    display: inline-block;

    font-size: 1em;
    color: white;

    padding: 10px 20px;
    margin: 15px auto;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    border: 2px solid white;
    border-radius: 50px;

    &:hover {

        text-decoration: none;
        color: $main-color;
        background-color: white;
        border: 2px solid white;
    }
}

header{
    padding: 1vh 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 3px rgba(112, 112, 112, 0.161) ;
    z-index: 10;
}

.o_connected_user {
    header {
        top: 46px;
    }
    #wrap {
        margin-top: 66px;
    }
}

.code137_header{

    background-color: white;

    .container {
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        height: 50px;
    }

    
    .code137_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: $main-color;
            text-transform: uppercase;
            font-size: 1em;
            margin-left: 60px;
        }
    }
}

.code137_footer{
    background-color: $main-color;
    padding-top: 100px;
    padding-bottom: 100px;

    .code137-fotter-wrapper{
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .code137-logo{
        padding: 0.5rem;
        background-color: white;
        height: 100px;
        width: 200px;
        border-radius: 5px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .code137-fotter-item{

        a{
            text-decoration: none;
            color: white;
            font-size: 1em;

            &:hover {
                text-decoration: underline;
            }
        }

        li {
            color: white;
        }

        span{
            color: white;
            font-size: 1em;
        }
        .fotter-title{
            color: white;
            font-size: 1.5em;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }
}

.code137_title{
    color: $main-color;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: $light;
    letter-spacing: 0;
    strong{
        font-weight: $extrabold;
    }
}

.code137_top_section{

    padding-top: 150px;
    padding-bottom: 100px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .code137_subtitle{

        margin-top: 1em;
        margin-bottom: 1em;

        color: $black_text;
        font-size: 1em;
    }

    img{
        width: 40%;
        min-width: 300px;
    }
}

.code137_what_you_looking_for{

    padding: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img{
        width: 30%;
        min-width: 350px;
    }

    .code137_description{
        color: $main-color;
        text-align: right;
        width: 55%;
        margin-left: auto;

        .code137_title{
            color: $black_text;
            font-size: 2.5em;
            text-align: right;
            margin-bottom: 0.5rem;
        }
        
        .code137_subtitle{
            color: $black_text;
            max-width: 700px;
            margin-bottom: 1.5rem;
        }
    }
}

.code137_know_odoo{
    padding: 100px 0;

    .code137_title{
        margin-bottom: 1rem;
    }

    .know_odoo_wrapper{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        .know_odoo_item{
            color: $main-color;
            max-width: 400px;
            text-align: center;

            padding: 1.5rem;

            .title{
                font-size: 2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .description{
                font-size: 1em;
                color: $black_text;
            }
        }
    }
}

.code137_services{
    background-color: $main-color;

    padding: 100px 0;

    .services_title{
        text-align: center;
        font-weight: $extrabold;
        text-transform: uppercase;
        font-size: 3em;
        color: white;
    }

    .code137_services_wrapper{
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }

    .code137_services_item{
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 3px #FFFFFF50;
        margin: 0.4rem;
        padding: 1rem;
        width: 25%;

        img{
            display: block;
            height: 50px;
            width: auto;
            margin: 1rem auto;
        }
        .service_title{
            display: block;
            color: #FD9414;
            text-transform: uppercase;
            font-size: 1em;
            text-align: center;
            margin-bottom: 2rem;
            font-weight: 700;
        }
        .service_description{
            display: block;
            color: $black_text;
            font-size: 0.9em;
            text-align: center;
        }
    }

    .new_devs{
        .service_title{
            color: $main-color;
            margin-bottom: 16px;
        }
    }
    .instalation{
        .service_title{
            color: #7f47c6;
        }
    }
    .mobile_apps{
        .service_title{
            color: #f28f8f;
            margin-bottom: 16px;
        }
    }

    .services-btn-contact {
        text-align: center;
    }

}
.code137-github{

    padding: 100px 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    img{
        height: 200px;
        width: auto;
    }

    .github_description{
        text-align: center;
        color: $black_text;
        font-size: 1.5;
        margin: 1em auto;
        max-width: 600px;
    }

    .code137-github-btn{
        text-decoration: none;
        color: white;
        height: 70px;
        line-height: 70px;
        font-size: 1.5em;
        background-color: $main-color;
        width: 400px;
        border-radius: 50px;
        text-align: center;
    }
}

.code137-team{
    padding: 100px 0;
    background-color: #f3f3f3;

    .code137-team-title{
        color: $black_text;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
    }

    .code137-team-wrapper{
        margin: auto;
        display: flex;
        justify-content: space-around;


        .code137-team-item{
            // padding: 0.7rem;
            text-align: center;

            box-shadow: 0 3px 3px 0 #010101;
            background-color: white;

            width: 30%;
            max-width: 250px;

            img{
                height: auto;
                width: 100%;
            }
            .code137-team-name{
                display: block;
                margin: 0.5rem auto;
                font-size: 1.2em;
                color: $black_text;
            }
            .code137-team-linkedin{
                display: block;
                margin: 0.5rem auto;

                text-decoration: none;
                color: #2303FF;
                font-size: 1em;
            }
        }
    }
}

.code137-contact{
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    .code137-contact-title{
        color: $black_text;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: lighter;
    }

    .code137-contact-form{
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;

        .form-group{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            label{
                font-size: 0.75rem;
                color: $black_text;
            }
            input{
                border: 1px solid #b1b1b1;
                border-radius: 3px;
                margin-right: 1.5rem;
                margin-bottom: 1rem;
                padding: 0.5rem;
            }
            &:nth-child(4){
                input{
                    margin-right: 0;
                }
            }
            &.form-name{
                flex-grow: 2;
            }
            &.textarea{
                width: 100%;
                textarea{
                    border: 1px solid #b1b1b1;
                    border-radius: 3px;
                    height: 8rem;
                    padding: 0.5rem;
                }
            }
        }

        .success_message{
            color: $main-color;
            line-height: 50px;
            margin-left: 30px;
        }
    }
}

.oe_website_login_container{
    padding-top: 100px;
    z-index: 0;
}

@media (max-width: 1200px) { 
    .container {
        width: 100%;
    }
}

@media (max-width: 900px) { 

    .code137_services {
        .code137_services_wrapper{
            flex-wrap: wrap;
        }
    
        .code137_services_item {
            width: 45%;
        }
    }
}

@media (max-width: 768px) { 

    .code137_header {
        .code137_nav {
            a {
                margin-left: 2rem;
            }
        }
    }

    .code137_what_you_looking_for, .code137_know_odoo, .code137_services, .code137-github, .code137-team, .code137-contact, .code137_footer {
        padding: 50px 0;
    }
    .code137_top_section{

        .code137_description {
            text-align: center;
        }

        img{
            display: none;
        }
    }

    .code137_what_you_looking_for {
        img {
            display: none;
        }

        .code137_description {
            text-align: center;
            width: 100%;

            .code137_title {
                text-align: center;
            }
        }
    }

    .code137_know_odoo {

        .code137_title {
            text-align: center;
        }

        .know_odoo_wrapper {
            flex-wrap: wrap;

            .know_odoo_item {
                width: 100%;
                max-width: none;
                padding: 0;
            }
        }        
    }

    .code137_footer {
        .code137-fotter-wrapper {
            flex-wrap: wrap;

            .code137-logo {
                margin: auto;
            }

            .code137-fotter-item {
                text-align: center;
                width: 100%;
            }
        }
    }
}

@media (max-width: 599px) { 
    .code137_services {
        .code137_services_item {
            width: 100%;
        }
    }

    .code137_what_you_looking_for, .code137_know_odoo, .code137_services, .code137-github, .code137-team, .code137-contact, .code137_footer {
        padding: 25px 0;
    }
}